<div class="row">
	<div class="btn-group col-lg-3 cal-alert-toggle">
		<button type="button" class="btn btn-primary" ng-model="calDisplay" btn-radio="'alerts'">News Alerts</button>
		<button type="button" class="btn btn-primary" ng-model="calDisplay" btn-radio="'events'">News Events</button>
	</div>
	
	<div class="btn-group col-lg-offset-6 col-lg-3 text-right sender-filter">
		<select class="text-left" ui-select2="{ allowClear: true}" ng-model="senderFilter" data-placeholder="select a sender to filter">
			<option value=""></option>
			<option ng-repeat="(senderClass, sender) in senders" value="{{senderClass}}">{{sender}}</option>
		</select>
	</div>

    <div class="clearfix"></div>

    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-xs-offset-2 col-lg-offset-4 text-right" style="padding-right:5px;">
        <input type="text" class="form-control text-right cal-date" datepicker-popup="MMM d, y" ng-model="startInput" style="float:right"/>
    </div>
    <div class="cal-date-to">
        <span class="glyphicon glyphicon-minus">&nbsp;</span>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4" style="padding-left:5px; vertical">
        <span class="cal-end-date cal-date">{{ endInput | date: 'MMM d, y'}}</span>
    </div>    
</div>

<div ui-calendar="uiConfig.calendar" calendar="theCalendar" ng-model="calEvents" />

<script type="text/ng-template" id="alertModal.html">
	<div class="modal-header {{senderClass}}-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
        <h4 class="col-lg-10">
            {{alert.sender}} - {{ alert.timestamp | date:'medium' }}
        </h4>
    </div>
	<div class="modal-body">
		<ul class="list-unstyled alert-dialog-info">
			<li class="row">
				<div class="col-lg-2">
					<b>Sender:</b>
				</div>
				<div class="col-lg-10">
					{{alert.sender}}
				</div>
			</li>
			<li class="row">
				<div class="col-lg-2">
					<b>Subject:</b>
				</div>
				<div class="col-lg-10">
					{{alert.subject}}
				</div>
			</li>
			<li class="row">
				<div class="col-lg-2">
					<b>Key Phrases:</b>
				</div>
				<div class="col-lg-10" style="max-height:60px;overflow-y:scroll;">
					{{alert.tags.join(", ")}}
				</div>
			</li>
			<li ng-show="alert.article_url.length > 0" class="row">
				<div class="col-lg-2">
					<b>URL:</b>
				</div>
				<div class="col-lg-10" style="overflow-x:scroll;">
					<a href="{{alert.article_url}}" target="_blank">
						{{alert.article_url}}
					</a>
				</div>
			</li>						
		</ul>
	</div>
	<iframe class="news_alert_body" ng-src="{{alertHtmlUrl}}">
	</iframe>
</script>

<script type="text/ng-template" id="eventModal.html">
	<div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
		<h4>{{ event.event_start | date:'medium' }}</h4>
	</div>
	<div class="modal-body">
		<ul class="list-unstyled alert-dialog-info">
			<li class="row">
				<div class="col-lg-12">
					<b>{{event.news_alerts.length}} Alerts</b>
				</div>
			</li>
			<li class="row">
				<div class="col-lg-2">
					<b>Key Phrases:</b>
				</div>
				<div class="col-lg-10" style="max-height:100px;overflow-y:scroll;">
					{{event.tags.join(", ")}}
				</div>
			</li>
		</ul>
        <div class="chart-wrapper">
        <div class="chart-inner">
            <highchart config="eventChartConfig" ></highchart>
        </div>
    </div>
	</div>
</script>
