<div class="row">
	<div class="btn-group col-lg-3 cal-alert-toggle">
		<button type="button" class="btn btn-primary" ng-model="calDisplay" btn-radio="'alerts'">News Alerts</button>
		<button type="button" class="btn btn-primary" ng-model="calDisplay" btn-radio="'events'">News Events</button>
	</div>
	
	<div class="btn-group col-lg-offset-6 col-lg-3 text-right sender-filter">
		<select class="text-left" ui-select2="{ allowClear: true}" ng-model="senderFilter" data-placeholder="select a sender to filter">
			<option value=""></option>
			<option ng-repeat="(senderClass, sender) in senders" value="{{senderClass}}">{{sender}}</option>
		</select>
	</div>

    <div class="clearfix"></div>

    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 col-xs-offset-2 col-lg-offset-4 text-right" style="padding-right:5px;">
        <input type="text" class="form-control text-right cal-date" datepicker-popup="MMM d, y" ng-model="startInput" style="float:right"/>
    </div>
    <div class="cal-date-to">
        <span class="glyphicon glyphicon-minus">&nbsp;</span>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4" style="padding-left:5px; vertical">
        <span class="cal-end-date cal-date">{{ endInput | date: 'MMM d, y'}}</span>
    </div>    
</div>

<div ui-calendar="uiConfig.calendar" calendar="theCalendar" ng-model="calEvents" />

<script type="text/ng-template" id="alertModal.html">
	<div class="modal-header {{senderClass}}-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
        <h4 class="col-lg-10">
            {{alert.sender}} - {{ alert.timestamp | date:'medium' }}
        </h4>
    </div>
	<div class="modal-body">
		<ul class="list-unstyled alert-dialog-info">
        	<li>
                <p class="text-muted"> 
                    <b>KEY QUOTE</b>
                </p>
                <blockquote>
                  <p>{{ alert.top_sentence }}</p>
                </blockquote>
			</li>
			<li>
				<p class="text-muted">
					<b>SUBJECT</b>
				</p>
				<p class="">
					{{alert.subject}}
				</p>
			</li>
			<li ng-show="alert.article_url.length > 0">
				<p class="text-muted">
					<b>URL</b>
				</p>
				<p style="overflow-x:scroll;">
					<a href="{{alert.article_url}}" target="_blank">
						{{alert.article_url}}
					</a>
				</p>
			</li>						
		</ul>
	</div>
	<iframe class="news_alert_body" ng-src="{{alertHtmlUrl}}">
	</iframe>
</script>

<script type="text/ng-template" id="eventModal.html">
	<div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
		<h4>{{ event.event_start | date:'medium' }}</h4>
	</div>
	<div class="modal-body">
		<ul class="list-unstyled alert-dialog-info">
			<li>
				<p class="text-muted">
					<b>{{event.news_alerts.length}} ALERTS</b>
				</p>
			</li>
			<li>
				<p class="text-muted">
					<b>KEY QUOTE:</b>
				</p>
                <blockquote>
                    <p>{{ event.news_alerts[0].top_sentence }}</p>
                </blockquote>
			</li>
		</ul>
        <!-- <highchart config="eventChartConfig" class="event-chart"></highchart> -->
        <ul class="list-unstyled event-alerts">
            <li ng-repeat="alert in event.news_alerts">
                <div class="event-alert" ng-click="displayAlertDialog(alert.alert_id)">
                    <header class="{{ alert.senderClass }}-header" style="padding:2px 2px;">
                        <h4 style="margin:2px 3px;">
                            {{ alert.sender }} 
                                                   </h4> 
                    </header>
                     <p class="text-muted" style="margin:0; padding:0 3px;">
                        <span ng-show="$first">FIRST TO ARRIVE</span>
                        <span ng-show="!$first">TIME LAPSED {{ alert.timeDiff }}</span>
                     </p>
                     <p style="padding:0 3px;">
                        {{ alert.top_sentence }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
	</div>
</script>
