<div class="feed-container">
    <div class="feed-date text-center" ng-repeat-start="event in events">
        <span ng-show="showDate($index)">
            {{ event.event_start | date: 'longDate' }}
        </span>
    </div>
    <article class="feed-event feed_{{ event.size_class }}" ng-repeat-end >
        <header>
            <h2>
                {{ event.news_alerts.length }} alerts @ {{ event.event_start | date: 'shortTime' }}
            </h2>
        </header>
        <p class="text-muted">
            <b>KEY QUOTE</b>
        </p>
        <blockquote>
            <p>{{ event.top_sentence }}</p>
            <small><cite title="{{ event.top_sender }}">{{ event.top_sender }}</cite></small>
        </blockquote>
        <div class="text-right" ng-click="collapseAlerts[event.obj_id] = !collapseAlerts[event.obj_id]">
            <a class="text-muted" ng-show="!collapseAlerts[event.obj_id]">HIDE ALERTS</a>
            <a class="text-muted" ng-show="collapseAlerts[event.obj_id]">VIEW ALERTS</a>
        </div>
        <div collapse="collapseAlerts[event.obj_id]">
            <p class="text-muted">
                <b>ALERTS</b>
            </p>
            <ol class="feed-alerts">
                <li ng-repeat="alert in event.news_alerts">
                    <div class="event-alert">
                        <header class="{{ senderClass(alert.sender) }}-header">
                            {{ alert.sender }}
                            <span ng-show="!$first" class=""> @ {{ timeDiff(alert.time_lapsed) }}</span>
                        </header>
                        <p>
                            {{ alert.top_sentence }}
                        </p>
                    </div>
                </li>
            </ol>
        </div>
    </article>
    <div class="text-center" style="margin-top:25px">
        <a class="btn btn-default" ng-click="loadMore()">MORE EVENTS</a>
    </div>
</div>
