<div>
    <table id="" class="table" style="max-width:1050px; margin:auto;">
        <thead>
            <tr style="padding-top:0!important;font-size:0.9em;">
                <th>
                    &nbsp;
                </th>
                <th colspan="4" style="text-align:center">
                    <select ng-model="curr_report" ng-change="update(curr_report)" class="form-control" style="width:220px; margin:auto">
                        <option value="avg_alerts" selected>Average Alerts Per Week</option>
                        <option value="avg_events" selected>Average Events Per Week</option>
                        <option value="attendance" selected>Event Attendance (%)</option>
                        <option value="avg_rank" selected>Average Event Placement</option>
                        <option value="avg_time_lapsed" selected>Average Event Arrival (min)</option>
                    </select>
                </th>
            </tr>
            <tr style="font-size:0.9em;">
                <th ng-click="changeSorting('sender')">
                    &nbsp;
                    <span ng-show="sort.column != 'sender'" class="inactive glyphicon glyphicon-sort"></span>
                    <span ng-show="sort.column == 'sender' && !sort.descending" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                    <span ng-show="sort.column == 'sender' && sort.descending" class="glyphicon glyphicon-sort-by-alphabet"></span> 
                </th>
                <th ng-click="changeSorting('12months')">
                    12 Months
                    <span ng-show="sort.column != '12months'" class="inactive glyphicon glyphicon-sort"></span>
                    <span ng-show="sort.column == '12months' && !sort.descending" class="glyphicon glyphicon-sort-by-order-alt"></span>
                    <span ng-show="sort.column == '12months' && sort.descending" class="glyphicon glyphicon-sort-by-order"></span>	
                </th>
                <th ng-click="changeSorting('6months')">
                    6 Months
                    <span ng-show="sort.column != '6months'" class="inactive glyphicon glyphicon-sort"></span>
                    <span ng-show="sort.column == '6months' && !sort.descending" class="glyphicon glyphicon-sort-by-order-alt"></span>
                    <span ng-show="sort.column == '6months' && sort.descending" class="glyphicon glyphicon-sort-by-order"></span>	
                </th>
                <th ng-click="changeSorting('3months')">
                    3 Months
                    <span ng-show="sort.column != '3months'" class="inactive glyphicon glyphicon-sort"></span>
                    <span ng-show="sort.column == '3months' && !sort.descending" class="glyphicon glyphicon-sort-by-order-alt"></span>
                    <span ng-show="sort.column == '3months' && sort.descending" class="glyphicon glyphicon-sort-by-order"></span>	
                </th>
                <th ng-click="changeSorting('7days')">
                    7 Days
                    <span ng-show="sort.column != '7days'" class="inactive glyphicon glyphicon-sort"></span>
                    <span ng-show="sort.column == '7days' && !sort.descending" class="glyphicon glyphicon-sort-by-order-alt"></span>
                    <span ng-show="sort.column == '7days' && sort.descending" class="glyphicon glyphicon-sort-by-order"></span>	
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sender in senderReport | orderBy: (sort.column == 'sender') ? 'sender' : 'values.'+sort.column+'.'+ curr_report: sort.descending">
                <td class="border_right">
                    <a href="#/sender/{{sender.sender}}" class="sender_info_link"><b>{{sender.sender}}</b></a>
                </td>
                <td class="text-right">
                    {{sender.values['12months'][curr_report] | number:1 }}
                </td>
                <td class="text-right">
                    {{sender.values['6months'][curr_report] | number:1 }}
                </td>
                <td class="text-right">
                    {{sender.values['3months'][curr_report] | number:1 }}
                </td>
                <td class="text-right">
                    {{sender.values['7days'][curr_report] | number:1 }}
                </td>
            </tr>
        </tbody>
    </table>

</div>
